@import '../../../styles/config';

.cell {
  height: 25%;
}

.info {
  > span {
    display: block;
    &:first-of-type {
      color: rgba(255, 255, 255, .95);
      margin-bottom: 2rem;
    }
    &:not(:first-of-type) {
      color: rgba(255, 255, 255, .5);
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.navGrid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.largeCell {
  @extend .cell;
  flex: 1 1 25%;
}

.mediumCell {
  @extend .cell;
  flex: 1 1 33.3333%;
}

.smallCell {
  @extend .cell;
  flex: 1 1 50%;
}

.social {
  > div {
    width: 100%;
    text-align: right;
    > a {
      color: inherit;
      &:hover {
        color: rgba(255, 255, 255, .95);
      }
    }
  }
}
