$fa-font-path: '~font-awesome/fonts';

:global {
  @import './config';
  @import '~font-awesome/scss/font-awesome';
  @import '~normalize.css/normalize';
  @import '~github-markdown-css/github-markdown';

  html {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    color: $textColor;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    height: 100%;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    // font-size: .9rem;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 480px) {
    html,
    body,
    #root {
      font-size: 14px;
    }
  }
}
