$fa-font-path: '~font-awesome/fonts';

:global {
  @import './config';
  @import '~font-awesome/scss/font-awesome';
  @import '~normalize.css/normalize';

  html {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    color: $textColor;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
