.layout {
  height: 100%;
  /* content/nav */
  > div:first-of-type {
    display: flex;
    flex: 1;
    /* content */
    > div:first-of-type {
      flex: 1;
    }
  }
}

.menu {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 10;
}
