@import '../../styles/config';

.contentWrapper {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  transition: all $transitionDuration;
}

.credit {
  bottom: .7rem;
  color: rgba(255, 255, 255, .5);
  font-size: .85rem;
  line-height: normal;
  max-width: 85%;
  overflow: hidden;
  position: absolute;
  right: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  > a {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
    &:hover {
      color: rgba(255, 255, 255, .95);
    }
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.layout {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
}

.menu {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  z-index: 2;
}
