.layout {
  font-family: 'Lato';
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* content/nav */
  > div:first-of-type {
    display: flex;
    flex: 1;
    /* content */
    > div:first-of-type {
      flex: 1;
    }
  }
}
