@import '../../styles/config';

.credit {
  bottom: .7rem;
  color: rgba(255, 255, 255, .5);
  font-size: .85rem;
  line-height: normal;
  max-width: 85%;
  overflow: hidden;
  position: absolute;
  right: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  > a {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
    &:hover {
      color: rgba(255, 255, 255, .95);
    }
  }
}

.home {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.welcome {
  font-size: 1.7rem;
  > h1 {
    color: #fff;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  > h6 {
    background-color: #fff;
    color: $textColor;
    display: inline-block;
    margin: 0 30px;
    padding: 2px 30px;
  }
}

.wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@media screen and (max-width: 480px) {
  .welcome {
    margin: 2rem;
    > h6 {
      margin: 0;
    }
  }
}
