@import '../../styles/config';

.home {
  align-items: center;
  background-image: url(/images/lake.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.welcome {
  font-size: 1.7rem;
  > h1 {
    color: #fff;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  > h6 {
    background-color: #fff;
    color: $textColor;
    display: inline-block;
    margin: 0 30px;
    padding: 2px 30px;
  }
}

.wrapper {
  position: relative;
  z-index: 1;
}
