@import '../../styles/config';

.home {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.welcome {
  font-size: 1.7rem;
  > h1 {
    color: #fff;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  > h6 {
    background-color: #fff;
    color: $textColor;
    display: inline-block;
    margin: 0 30px;
    padding: 2px 30px;
  }
}

.wrapper {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 480px) {
  .welcome {
    font-size: 1.4rem;
    margin: 2rem;
    > h6 {
      display: block;
      margin: 0;
      padding: 2px 15px;
    }
  }
}
