.tab {
  cursor: pointer;
  display: flex;
  margin: .5rem 0;
  transition: all 300ms;
  > span {
    background-color: rgba(255, 255, 255, .8);
    transition: all 300ms;
    user-select: none;
    white-space: nowrap;
    &:nth-of-type(1) {
      font-weight: 700;
      padding: .5rem 1.5rem;
      text-transform: lowercase;
    }
    &:nth-of-type(2) {
      transform-origin: right;
      width: .5rem;
    }
  }
  &:hover {
    > span {
      &:nth-of-type(2) {
        transform: scaleX(.5);
      }
    }
  }
  &.active {
    > span {
      background-color: #fff;
    }
  }
}
